/* Light Theme (Default) */
:root {
  --color-primary: #a41720;
  --color-secondary: #e238ec;
  --color-background: #ffffff;
  --color-text: #333333;
}

/* Dark Theme */
[data-theme="dark"] {
  --color-primary: #818cf8; /* Light Indigo */
  --color-secondary: #f472b6; /* Light Pink */
  --color-background: #1e293b; /* Slate Gray */
  --color-text: #e2e8f0; /* Light Gray */
}
