.Footer {
  background-color: var(--darker-color);
  padding: 32px;
}

.Footer_content {
  color: var(--light-color);
  font-size: 14px;
}

.Footer_content_bottom {
  text-align: center;
  margin: 12px auto;
}
